<div class="container-fluid " style="background-color: rgb(255, 247, 247);">
    <div class="container">
        <div class="row p-3">
            <div class="row text-center container p-4 ">
                <strong><h4 class="text-danger">BEST SELLING PRODUCTS</h4></strong>
            </div>
            <ng-container *ngFor="let item of product_category">
            <div class="col-sm-3 mb-4">
               
                <mat-card class="example-card">
                    <img mat-card-image style="height: 200px; " src="{{ item.image }}" alt="Photo of a Shiba Inu">
                     <mat-card-title class="text-center text-success" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200ch;">{{ item.title }}</mat-card-title>
                      <mat-card-subtitle style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200ch;" class="text-center">{{ item.description }}</mat-card-subtitle>
                      <mat-card-content>Price INR : <strong class="text-danger"> {{ item.price }} </strong></mat-card-content>
                      <mat-card-actions class="text-center">
                      <button type="button" class="btn btn-outline-success" (click)=addToCart(item) >Add to Cart</button>
                    </mat-card-actions>
                </mat-card>
                  
            </div>
        </ng-container>
         
           
        </div>
    </div>
</div>