<nav class="navbar navbar-expand-lg navbar-light  shadow-sm" style="background-color: green;">
    <div class="container-fluid">
        <i  style="font-size: 30px; color: aliceblue;" class="fas fa-shipping-fast">&nbsp; </i>
      <a class="navbar-brand" href="#">
        <strong style="font-size: 25px; color: aliceblue;">HERBAL </strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="category">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="card">PRODUCTS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CATEGORY
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" >Fashion</a></li>
              <li><a class="dropdown-item" >Jewellery</a></li>
              
              <li><a class="dropdown-item" >Electronics</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" name="search" type="search" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <div class="ml-2 right-icon">
            <button class="btn">
                <i class="fas fa-user" style="font-size: 25px; color: aliceblue;"></i>
            </button>
            <button class="btn " routerLink="cart">
                <i class="fas fa-cart-plus" style="font-size: 25px; color: aliceblue;"></i>
                <div class="badge" style="background-color: red; font-size: 10px;">{{ totalItem }}</div>
            </button>
            
        </div>
      </div>
    </div>
  </nav>


